.App .mdc-top-app-bar {
  top: 0;
}

.App .mdc-top-app-bar--prominent .mdc-top-app-bar__row {
  height: 400px;
}

.App .mdc-top-app-bar .mdc-top-app-bar__title {
  cursor: pointer;
}

.App .mdc-top-app-bar--prominent .mdc-top-app-bar__title {
  align-self: flex-start;
  margin: 9px 0;
}

.App main {
  --top-app-bar: 64px;
}

.App .mdc-top-app-bar--prominent + main {
  --top-app-bar: 128px;
}

.App main {
  --label-spacing: 24px;
  height: calc(100vh - var(--top-app-bar) - var(--label-spacing));
  margin-top: var(--top-app-bar);
}

.App .helper {
  width: 45em;
  padding: 16px;
  margin: 128px auto;
  position: relative;
  z-index: 10;
}

.App .Dropzone {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.App .Dropzone .drop-highlight {
  --margin: 8px;
  width: calc(100% - var(--margin) * 2);
  height: calc(100% - var(--margin) * 2 - 2em);
  box-shadow: inset 0 0 0px 2px rgba(255, 255, 255, 0);
  transition: box-shadow 0.05s, background-color 0.05s;
  position: fixed;
  top: var(--margin);
  left: var(--margin);
  pointer-events: none;
  z-index: 20;
}

.App .Dropzone.active .drop-highlight {
  background-color: #4687f127;
  box-shadow: inset 0 0 0px 2px #4688f1;
  transition: box-shadow 0.15s, background-color 0.15s;
}

.App .Dropzone .drop-helper {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.App .Dropzone.active .drop-helper {
  width: 10em;
  padding: 16px;
  background: #4688f1;
  color: white;
  text-align: center;
  transform: translateY(50%);
  display: block;
}
